.profile {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.title {
    font-size: 30px;
    font-family: gulim;
    text-align: center;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 5px solid gray;
    margin: 0px;
    padding: 20px;

}

ol {
    border-right: 2px solid gray;
    margin: 0px;
}
h3 {
font-size: 20;
text-align: center;
margin: 0px;
}
h2 {
    text-align: center;
}